ion-textarea {
    height: 30vh;
    --color: black;
    --highlight-color-focused: black;
}

ion-input {
    font-size: 1.5em;
    --color: black;
    --highlight-color-focused: black;
}

.chip-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.chip {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selected {
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.orange {
    background-color: #ffab91;
    --background: #ffab91;
    --highlight-color: #ffab91;
}

.yellow {
    background-color: #fdfd96;
    --background: #fdfd96;
    --highlight-color: #fdfd96;
}

.violet {
    background-color: #cf94da;
    --background: #cf94da;
    --highlight-color: #cf94da;
}

.blue {
    background-color: #81deea;
    --background: #81deea;
    --highlight-color: #81deea;
}

.pink {
    background-color: #f48fb1;
    --background: #f48fb1;
    --highlight-color: #f48fb1;
}