<ion-content [fullscreen]="true">

  <div class="header">
    <div *ngIf="!isSearch" class="header-content">
      <h2>Your Notes</h2>
      <div class="icon-container">
        <ion-icon name="search" (click)="showSearch()"></ion-icon>  
        <ion-icon [name]="(showSort) ? 'funnel' : 'funnel-outline'" (click)="sortIconClicked()"></ion-icon>
      </div>
    </div>
    <div *ngIf="isSearch" class="header-content">
      <ion-searchbar [(ngModel)]="searchQuery" placeholder="Search" inputmode="text" type="text" (ionChange)="onSearchChange($event)" (ionBlur)="hideSearch()" [debounce]="250" showCancelButton="always"></ion-searchbar>
    </div>
    <div *ngIf="showSort" [@enterAnimation] class="sort">
      <p>Sort by:</p>
      <br>
      <ion-radio-group value="date" [(ngModel)]="sortBy" (ionChange)="sortByChanged()">
        <ion-radio value="date" labelPlacement="end">Date</ion-radio>
        <ion-radio value="title" labelPlacement="end">Title</ion-radio>
        <ion-radio value="color" labelPlacement="end">Color</ion-radio>
      </ion-radio-group> <br>
      <ion-radio-group value="asc" [(ngModel)]="sortOrder" (ionChange)="sortByChanged()">
        <ion-radio value="asc" labelPlacement="end">Ascending</ion-radio>
        <ion-radio value="desc" labelPlacement="end">Descending</ion-radio>
      </ion-radio-group>
    </div>
  </div>

  <div id="container">
    <div *ngFor="let note of notes">
      <note 
        (noteClicked)="getNoteById(note.id)"
        (deleteClicked)="deleteNote(note.id)"
        [title]="note.title" 
        [content]="note.content" 
        [color]="note.color" 
        [note_id]="note.id">
      </note>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
