ion-toolbar {
  --background: #fefeef;
  --color: black;
}

ion-radio {
  --border-radius: 50%;
  --inner-border-radius: 50%;

  --color: #ddd;
  --color-checked: #fff;
  
  padding: 10px 10px;
}

.header {
  padding: 2vh;
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .icon-container {
      display: flex;
      flex-direction: row;
      * {
        padding-left: 10px;
        padding-right: 10px;
      }
  }
  }
}