.note {
    text-align: start;
    position: relative;
    width: 90%;
    padding: 1em 1.2em;
    margin: 2em auto;
    color: #000000;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        border-width: 0 32px 32px 0;
        border-style: solid;
    }
}

.rounded {
    border-radius: 5px;

    &::before {
        border-radius: 0 0 0 5px;
    }
}

.note-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.note.orange {
    background-color: orange;
    &::before {
        border-color: rgb(110, 74, 7) var(--background); 
    }
}

.note.yellow {
    background-color: yellow;
    &::before {
        border-color: rgb(110, 74, 7) var(--background); 
    }
}

.note.violet {
    background-color: violet;
    &::before {
        border-color: rgb(110, 74, 7) var(--background); 
    }
}

.note.blue {
    background-color: blue;
    &::before {
        border-color: rgb(110, 74, 7) var(--background); 
    }
}

.note.pink {
    background-color: pink;
    &::before {
        border-color: rgb(110, 74, 7) var(--background); 
    }
}